@import 'reset';

/* 
* VARIABLES
**************************************************/

/* 
* BASE
**************************************************/


/* 
* STAGES
***************************************************/

.stage {
    width: 100%;
    float: left;
}

.hidden{
    display: none;
}

/*
* STAGE START
***************************************************/

#start{
    background-color: red;
}

/*
* STAGE GAME-OVER
***************************************************/

#game-over{
    background-color: blue;
}
